body {
    font-family: 'Montserrat';
    font-size: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

.hook {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: #ff4c68;
}

.white-section {
    background-color: #fff;
}

#title .container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar  */

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

.title-section {
    text-align: left;
}

.image-rotate {
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 25%;
}

/* Features  */

#features {
    position: relative;
}

#features h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

#features i {
    color: #ef8172;
}

#features i:hover {
    color: #ff4c68;
}

/* Testimonial Section  */

#testimonials .colored-section {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.featured-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section  */

#press {
    padding-bottom: 10%;
    text-align: center;
}

#press.colored-section {
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 0 2%;
}

/* Call to Action Section  */

#cta {
    color: #fff;
}

#cta h3 {
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 50px;
}

.cta-btn {
    margin: 0 10px;
}

/* Footer  */

#footer {
    padding: 100px;
}

#footer i {
    margin: 10px 10px;
}

#copyright {
    margin-top: 20px;
}

/* Screen Size Changes  */

@media (max-width: 1028px) {
    .title-section {
        text-align: center;
    }
    .image-rotate {
        transform: rotate(0);
        position: static;
        width: 50%;
    }
}