body, h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

.hook {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

#title {
    background-color: #ff4c68;
}

/* Navigation Bar  */

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.image-rotate {
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 25%;
}

/* Features  */

#features {
    position: relative;
    background-color: #fff;
    padding: 7% 15%;
}

#features h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

#features p {
    color: #8f8f8f;
}

.fa-check-circle, .fa-bullseye, .fa-heart {
    color: #ef8172;
}

.fa-check-circle:hover, .fa-bullseye:hover, .fa-heart:hover {
    color: #ff4c68;
}

/* Testimonial Section  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

.featured-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-inner {
    padding: 7% 15%;
}

/* Press Section  */

#press {
    background-color: #ef8172;
    padding-bottom: 10%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 0 2%;
}

/* Pricing Section  */

#pricing {
    text-align: center;
}

/* Call to Action Section  */

#cta {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    
}

#cta h3 {
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 50px;
}

.cta-btn {
    margin: 0 10px;
}

/* Footer  */
#footer {
    padding: 100px;
}

#footer i {
    margin: 10px 10px;
}

#copyright {
    margin-top: 20px;
}


/* Screen Size Changes  */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .image-rotate {
        transform: rotate(0);
        position: static;
        width: 50%;
    }
}